/* Fuente base y fondo */
body {
    font-family: 'Segoe UI', sans-serif;
    background-color: #ffffff;
    color: #1e4c68;
    margin: 0;
    padding: 0;
}

/* Encabezado */
header {
    background-color: #1e4c68;
    color: #ffffff;
    text-align: center;
    padding: 30px 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

/* Foto de perfil */
.perfil-foto {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid #ffffff;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    margin-bottom: 15px;
}

/* Secciones */
section {
    margin: 30px auto;
    padding: 20px;
    max-width: 900px;
    background-color: #f9f9f9;
    border-left: 6px solid #1e4c68;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(30,76,104,0.05);
}

/* Títulos */
h1, h2, h3 {
    margin-bottom: 10px;
}




h2 {
    color: #1e4c68;
    border-bottom: 2px solid #1e4c68;
    padding-bottom: 5px;
}

h3 {
    color: #1e4c68;
    margin-top: 20px;
}

/* Listas */
ul {
    list-style-type: square;
    padding-left: 20px;
}

/* Enlaces */
a {
    color: black;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

/* Proyectos */
section div {
    margin-bottom: 20px;
    padding: 15px;
    background-color: #eaf4fa;
    border-left: 4px solid #1e4c68;
    border-radius: 6px;
}

section div h3 {
    margin-top: 0;
    color: #1e4c68;
}
